@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


.item:hover{
    border-bottom: 2px solid white;
    transition: 0.17s;
}

.navbar{
    background-color: #031d44
}

.learn{
    font-size: 3rem;
    text-align: center;
    color: #031d44;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
}

.text{
    padding: 20px 0px 0px 0px;
    /* text-align: center; */
    font-family: 'Akatab', sans-serif;
    font-size: 20px;
    color: #1f1f1fb8;
}

.btn{
    color: aliceblue;
    background-color: #031d44;
    width: 250px;
    padding: 20px;
    margin: 20px 0px 0 0px;
    border-radius: 6px;
    font-family: 'Akatab', sans-serif;
    font-size: 16px;
}

.btn:hover{
    background-color: #084b83;
    transition: 0.2s;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-width: 100%;
}

.container .row{
    width: 80%;
    margin: auto;
}

.container .row .header{
    width: 60%;
    text-align: center;
    /* margin: auto; */
}

/* .container .row .header h1{
    width: 20rem;
    text-align: center;
} */

.container .row .header h1{
    font-size: 45px;
    color: #031d44;
    padding-top: 35px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .card{
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.content .card img{
    width: 100%;
    height: auto;
}

.content .card h4{
    margin-top: 16px;
    margin-left: 10px;
    font-size: 18px;
}

.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .content{
        flex-direction: column;
    }
}


.headerImg{
    width: 1952px;
    margin-top: 1.5rem;
}

@media screen and (max-width: 1170px){
    .right{
        margin-top: 3rem;
        width: 100rem;
    }
}

@media screen and (max-width: 1025px){
    .right{
        margin-top: 6rem;
        width: 80rem;
    }
}



@media screen and (max-width: 950px){
    .right{
        margin-top: 7rem;
        
    }
}


@media screen and (max-width: 929px){
    .right{
        margin-top: 7rem;
        width: 60rem;
    }
}

@media screen and (max-width: 833px){
    .right{
        margin-top: 9rem;
        width: 50rem;
    }
}

@media screen and (max-width: 833px){
    .right{
        margin-top: 9rem;
        width: 46rem;
    }
}

@media screen and (min-width: 768px){
    .left{
        width: 97rem;
        margin: 0rem 0 0 5rem;
    }
}



@media screen and (min-width: 768px){
    .deskBtn{
        margin-left: 2.5rem;
    }
}

@media screen and (max-width: 768px){
    .text{
        margin-right: 1.75rem;
    }
}

@media screen and (max-width: 768px){
    .container .row .header h1{
        width: 20rem;
        text-align: center;
    }
}















#containerFooter
{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
    margin-top: 80px;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}
#webFooter
{
    padding-top: 30px;
    font-size: 10px;
}

#webFooter1
{
    padding-top: 30px;
    font-size: 12px;
    padding-right: 196px;
    padding-left: 168px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 25px;
    }
}
