<div class="navbar flex justify-between items-center">
  <!-- This is code for hamburger icon-->
  <div
    class="ham inline-block p-4 cursor-pointer md:hidden"
    onclick="myFunction()"
  >
    <div class="line h-0.5 w-6 bg-white my-1"></div>
    <div class="line h-0.5 w-6 bg-white my-1"></div>
    <div class="line h-0.5 w-6 bg-white my-1"></div>
  </div>

  <!-- Code for central logo-->
  <div class="logo text-center flex">
    <!-- Code for logo -->
    <div
      class="text-white logoImg md:mr-10 cursor-pointer logo items-center"
      style="
        text-align: center;
        margin: auto 20px;
        font-family: 'Pacifico', cursive;
        font-size: 1.8rem;
      "
    >
      <a href="/">FreeDemy</a>
    </div>

    <!-- Code for hamburger -->
    <div
      class="navItems p-4 md:p-7 md:static md:w-auto absolute inset-0 z-[-1] h-fit w-full md:bg-inherit md:z-auto md:flex md:mx-4"
    >
      <div class="item mx-6 my-6 md:my-0 cursor-pointer text-white">
        <a href="/">Home</a>
      </div>
      <div
        class="item mx-6 my-6 md:my-0 cursor-pointer text-white navCourses"
        id="navCourses"
      >
        Courses
      </div>
      <div class="item mx-6 my-6 md:my-0 cursor-pointer text-white">
        About Us
      </div>
      <div class="item mx-6 my-6 md:my-0 cursor-pointer text-white">
        Privacy Policy
      </div>
    </div>
  </div>

  <section class="contain">
    <form
      class="md:flex md:justify-center items-center"
      onsubmit="event.preventDefault(); search();"
    >
      <div class="search-box hidden md:block">
        <input
          type="text"
          name="term"
          id="search-item"
          placeholder="Search Courses"
        />
        <button>
          <i
            class="fa-solid fa-magnifying-glass fa-xl text-white pl-3 searchIcon"
          ></i>
        </button>
      </div>
    </form>
  </section>
</div>

<div class="topnav">
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <div id="search-sec">
      <input type="text" placeholder="Search Courses" id="searchInput" />
      <button id="searchButton">
        <i class="fa-solid fa-magnifying-glass fa-xl text-white pl-3"></i>
      </button>
    </div>
    <a href="/">Home</a>
    <a id="navCourses2">Courses</a>
    <a href="#about">About Us</a>
    <a href="/">Privacy Policy</a>
  </div>
</div>
