@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



.item:hover {
  border-bottom: 2px solid white;
  transition: 0.17s;
}

.ad{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar {
  background-color: #031d44;
}

.show-search {
  display: inline-block !important;
    position: relative;
  margin-top: 40px;
  z-index: 1;
  right: 0;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #031d44;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  transition: display 0.3s ease;
}

.shownav{
  display: block !important ;
    transition: display 0.3s ease;
  
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}

.learn {
  font-size: 3rem;
  text-align: center;
  color: #031d44;
  font-family: 'Poppins', sans-serif;
  margin-top: 2rem;
}

.text {
  padding: 20px 0px 0px 0px;
  font-family: 'Akatab', sans-serif;
  color: #1f1f1fb8;
}

.btn {
  color: aliceblue;
  background-color: #031d44;
  width: 200px;
  padding: 20px;
  margin: 20px 0px 0 0px;
  border-radius: 6px;
  font-family: 'Akatab', sans-serif;
  font-size: 16px;
}

.btn:hover {
  background-color: #084b83;
  transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  color: #031d44;
  padding-top: 35px;
}

.container {
  width: 100%;
  min-width: 100%;
}

.container .row {
  width: 80%;
  margin: auto;
}

.container .row .header h1 {
  font-size: 45px;
  color: #031d44;
  padding-top: 35px;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.content .card {
  flex: 1;
  margin-top: 3rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 350px;
  min-width: 250px;
  height: 450px;
  border-radius: 10px;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
  overflow: hidden;
  /* New styles for hover effect */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content .card.animated {
  animation-name: fadeInUp;
}

.content .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.content .card:hover img {
  filter: brightness(60%);
  transform: scale(1.1);
  transition: 0.5s;
}

.content .card h4 {
  margin-top: 16px;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Akatab', sans-serif;
  font-weight: 500;
  transition: font-weight 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

.content .card p {
  font-size: 15px;
  color: #6e6e6e;
  line-height: 1.5;
  padding: 10px;
  font-family: 'Akatab', sans-serif;
  font-weight: 400;
  transition: font-weight 0.1s ease, transform 0.3s ease, opacity 0.3s ease;
}

.content .card:hover h4 {
  font-weight: 700;
  transform: translateY(5px);

}

.content .card:hover p {
  font-weight: 600;
  transform: translateY(5px);
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .content .card {
    margin: 40px 10px;
  }
}

.headerImg {
  width: 1952px;
  margin-top: 1.5rem;
}

@media screen and (max-width: 1170px) {
  .right {
    margin-top: 3rem;
    width: 100rem;
  }
}

@media screen and (max-width: 1025px) {
  .right {
    margin-top: 6rem;
    width: 80rem;
  }
}

@media screen and (max-width: 950px) {
  .right {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 929px) {
  .right {
    margin-top: 7rem;
    width: 60rem;
  }
}

@media screen and (max-width: 833px) {
  .right {
    margin-top: 9rem;
    width: 50rem;
  }
}

@media screen and (max-width: 833px) {
  .right {
    margin-top: 9rem;
    width: 46rem;
  }
}

@media screen and (min-width: 768px) {
  .left {
    width: 97rem;
    margin: 0rem 0 0 5rem;
  }
}

@media screen and (min-width: 768px) {
  .deskBtn {
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .text {
    margin-right: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .container .row .header h1 {
    width: 20rem;
    text-align: center;
  }
}

.foot {
  background-color: #031d44;
}

.footerSpan,
.footerContainer {
  color: #cccccc;
}

.cardBtn {
    position: relative;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: #031d44;
    color: aliceblue;
    font-family: 'Akatab', sans-serif;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: box-shadow 0.3s;
  }
  
.cardBtn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #084b83;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    z-index: -1;
  }
  
.cardBtn::after {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(0, 227, 255, 0.5);
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease-in-out;
    z-index: -1;
  }
  
.cardBtn:hover {
    box-shadow: 0 0 5px 1px #00e3ff, 0 0 10px 1px #00e3ff, 0 0 30px 2px #00e3ff;
  }
  
.cardBtn:hover::before {
    transform: translateY(0);
  }
  
.cardBtn:hover::after {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }

.classForMarginTopMobile{
  margin-top: 2rem;
}

:root {
  --linkedin: #0A66C2;
  --youtube: #e52d27;
  --twitter: #1D9BF0;
}

.bgd {
  display: grid;
  place-items: center;

}

.social-media-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.social-media-button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button img {
  transition: all 0.3s;
}

.social-media-button:hover img {
  transform: scale(1.15);
}

.social-media-button:hover:nth-child(2) {
  background:  radial-gradient(
      circle at 30% 107%, #fdf497 0%, 
      #fdf497 5%, #fd5949 45%,
      #d6249f 60%,#285AEB 90%
  ); 
}

.social-media-button:hover:nth-child(1) {
  background-color: var(--twitter);
}

.social-media-button:hover:nth-child(3) {
  background-color: var(--linkedin);
}

@media screen and (max-width: 768px) {
  .bgd{
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .aboutHeading{
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footerSpan{
    text-align: center;
  }
}

.contain{
  padding: 20px;
}

.contain .form{
  /* width: 100%; */
  border: 1px solid rgb(82, 74, 235);
}

#search-item{
  border-radius: 20px;
  width: 14rem;
  font-weight: 600;
  padding-left: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#searchInput{
  border-radius: 20px;
  width: 14rem;
  font-weight: 600;
  padding-left: 13px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#search-sec{
  margin: 12px;
}

.contain .form input{
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
}


@media screen and (min-width: 768px) {

  #joinTeleBtn{
    margin-left: 10px;
  }
}
@media screen and (max-width: 1020px) {

  #search-item{
    width: 200px;
    font-size: 15px;
  }
  .searchIcon{
    font-size: 18px;
  }
}
@media screen and (max-width: 996px) {

  #search-item{
    width: 160px;
  }
  .searchIcon{
    font-size: 18px;
  }
}
@media screen and (max-width: 957px) {

  #search-item{
    width: 120px;
    font-size: 10px;
  }
  .searchIcon{
    font-size: 18px;
  }
}
@media screen and (max-width: 910px) {

  #search-item{
    width: 120px;
    font-size: 10px;
  }
  .searchIcon{
    font-size: 14px;
  }
}
@media screen and (max-width: 906px) {

  #search-item{
    width: 100px;
    font-size: 10px;
  }
  .searchIcon{
    font-size: 10px;
  }
}
@media screen and (max-width: 882px) {

  #search-item{
    width: 100px;
    font-size: 10px;
  }
  .searchIcon{
    display: none;
  }
}
@media screen and (max-width: 882px) {

  #search-item{
    width: 120px;
    font-size: 12px;
  }
  .searchIcon{
    display: none;
  }
  .navItems{
    font-size: 13px;
  }
}
@media screen and (max-width: 835px) {

  #search-item{
    width: 120px;
    font-size: 12px;
  }
  .searchIcon{
    display: none;
  }
  .navItems{
    font-size: 12px;
  }
}
@media screen and (max-width: 820px) {

  #search-item{
    width: 120px;
    font-size: 12px;
  }
  .searchIcon{
    display: none;
  }
  .navItems{
    font-size: 11px;
  }
}
@media screen and (max-width: 805px) {

  #search-item{
    width: 120px;
    font-size: 12px;
  }
  .searchIcon{
    display: none;
  }
  .navItems{
    font-size: 8px;
  }
}